/* подключаем нестандартный шрифт */
@font-face {
  font-family: "Raleway Regular";
  font-weight: normal;
  font-style: normal;
  src: local("Raleway Regular"),  /*директива local() позволяет ссылаться на шрифт и загружать его, а также использовать шрифты, установленные на устройстве пользователя*/
  url("../font/raleway-regular-webfont.woff2") format("woff2"),
  url("../font/raleway-regular-webfont.woff") format("woff"),
  url("../font/raleway-regular.ttf") format("ttf");
}

@font-face {
  font-family: "Raleway Bold";
  font-weight: normal;
  font-style: normal;
  src: local("Raleway Bold"),
  url("../font/raleway-bold-webfont.woff2") format("woff2"),
  url("../font/raleway-bold-webfont.woff") format("woff"),
  url("../font/raleway-bold-webfont.ttf") format("ttf");
}

@font-face {
  font-family: "Raleway light";
  font-weight: normal;
  font-style: normal;
  src: local("Raleway light"),
  url("../font/raleway-light-webfont.woff2") format("woff2"),
  url("../font/raleway-light-webfont.woff") format("woff"),
  url("../font/raleway-light-webfont.ttf") format("ttf");
}

@font-face {
  font-family: "Raleway Semibold";
  font-weight: normal;
  font-style: normal;
  src: local("Raleway SemiBold"),
  url("../font/raleway-semibold-webfont.woff2") format("woff2"),
  url("../font/raleway-semibold-webfont.woff") format("woff"),
  url("../font/raleway-semibold-webfont.ttf") format("ttf");
}

/* стили для текста */
.caption {
  font-family: "Raleway Bold";
  font-size: 2em;
  text-align: left;
  color: rgb(94, 83, 115);
}

.card {

}

.card__caption {
  margin-top: 0;
  font-family: "Raleway Semibold";
  font-size: 1.5em;
  text-align: left;
  color: rgb(94, 83, 115)
}

.card__caption::after {
  content: "";
  display: block;
  width: 80%;
  margin-top: 5px;
  border-bottom:3px solid rgb(236, 232, 157);
}

.card__content {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: "Raleway Regular";
  color: rgb(94, 83, 115);
}

.no-marked-list {
  padding-left: 0;
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin-top: -1px;
  margin-right: -1px;
  margin-bottom: -1px;
  margin-left: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  height: 100%;
}


.wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

.footer {
  flex: 0 1 auto;
}

.columns {
  display: flex;
}

.left-col {
  flex: 0 0 40%;
  padding: 20px;
  background-color: rgb(24, 181, 164, .5);
}

.right-col {
  flex: 0 0 auto;
  padding: 20px;
}

.header {

}

.header__img-wrapper {
  width: 100%;
}

.header__img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  border: 5px solid rgb(236, 232, 157);
  border-radius: 50%;
}

.contact {

}

.contact__text {
  display: flex;
  flex-direction: row;
}

.contact__text::before {
  content: "";
  display: block;
  width: 1em;
  height: 1em;
  margin-right: 10px;
  background-image: url("/img/icons-e-mail.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact__text--github::before {
  background-image: url("/img/icons-github.png");
}

.contact__text--address::before {
  background-image: url("/img/icons-map-pin.png");
}












