* {
  box-sizing: border-box;
}

body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

.footer {
  flex: 0 1 auto;
}

.columns {
  display: flex;
}

.left-col {
  flex: 0 0 40%;
}

.right-col {
  flex: 0 0 auto;
}


